<div class="container mt-4" *ngIf="receta; else notFound">
    <h1 class="text-center">{{ receta.titulo }}</h1>
    <p class="text-center">{{ receta.descripcion }}</p>
    
    <h3>Paso a paso:</h3>
    <ol>
      <li *ngFor="let paso of receta.pasos">{{ paso }}</li>
    </ol>
  </div>
  
  <ng-template #notFound>
    <div class="container mt-4 text-center">
      <h1>Receta no encontrada</h1>
      <p>La receta que estás buscando no existe o el enlace es incorrecto.</p>
    </div>
  </ng-template>
  